doctype html
html(lang='en')
  head
    title 로그인
    style
      include ./sign-in.css

  body
    img.title(
      src="https://ceo.baemin.com/lockpath/images/logo-ceo.png"
      alt="main-logo"
    )
    #signin-form
      form
        input(
        id="id-input"
        type="text"
        placeholder="아이디 *(4~20)"
        minlength="4"
        maxlength="20"
        )
        input(
        id="password-input"
        type="password"
        placeholder="비밀번호*(영문+숫자, 8~20자)"
        minlength="8"
        maxlength="20"
        )
        .sinin-options
          .save-id
            input(
            type="checkbox"
            checked=false
            )
            div 아이디 저장
          div.small 아이디/비밀번호 찾기
          div.small 회원가입

      input.btn-blue.submit(
        type='submit'
        value='로그인'
      )
    script(type="module")
        include ./sign-in.js